version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: l_app
    ports:
      - "8080:8000"
    volumes:
      - ./app:/var/www/html
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: postgres:14
    container_name: pg_database
    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env
  
  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      - MB_DB_FILE=/metabase-data/metabase.db
      - MB_EMBEDDING_SECRET_KEY=19c1faba8d589bb502fcab95b9f0d83f9bbccf03b708c4090d477e8a45eedf21
    volumes:
      - metabase-data:/metabase-data
    restart: unless-stopped

volumes:
  pgdata:
  metabase-data: