// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';

$none: #ffffff00;
$asparagus: #83aa6b; 
$soft-asparagus: rgba(131, 170, 107, 0.65); 
$softer-asparagus: rgba(131, 170, 107, 0.5); 
$oxford-blue: #00284B;
$white: #ffffff;

$primary: $asparagus;
$secondary: $oxford-blue;
$info: $white;

$main-background: linear-gradient(135deg, $none 0%, $none 20%, $soft-asparagus 70%, $soft-asparagus 80%, $softer-asparagus 100%);

.center-container {
  width: 70%;
  margin: 0 auto 1.5rem auto; 
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  flex-grow: 1;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
}

// Botones
.btn-primary {
  color: white !important;
}
.btn-primary:hover {
  background-color: #6d8f59 !important;
  border: 1px solid #6d8f59;
}

.btn-info {
  border: 0.5px solid #B5B5B5 !important;
  color: #B5B5B5 !important;
}
.btn-info:hover {
  background-color: #7a7a7a !important;
  color: white !important;
  border: 0.5px solid white !important;
}

$btn-border-radius: 0.8rem;

// Backgrounds
.bg-gray-soft {
  background-color: rgba($color: #D9D9D9, $alpha: 0.3) !important;
}