// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';

$none: #ffffff00;
$asparagus: #83aa6b; 
$soft-asparagus: rgba(131, 170, 107, 0.65); 
$softer-asparagus: rgba(131, 170, 107, 0.5); 
$oxford-blue: #00284B;

$primary: $asparagus;
$secondary: $oxford-blue;

$main-background: linear-gradient(135deg, $none 0%, $none 20%, $soft-asparagus 70%, $soft-asparagus 80%, $softer-asparagus 100%);

// Botones
.btn-primary {
  --bs-btn-color: var(--bs-white);
}
$btn-border-radius: 0.8rem;