.dt-container table thead th {
  background-color: $secondary !important;
  color: white;
  border: 1px solid white;
}

.dt-container table tbody {
  td {
    border: 1px solid #D2D2D2;
  }

  tr:nth-of-type(odd) td{
    background-color: rgba(white, 0) !important;
  }

  tr:nth-of-type(even) td{
    background-color: rgba(white, .3) !important;
  }

  tr:hover td{
    background-color: rgba($primary, .1) !important;
  }
}

.dt-custom-padding {
  padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
  padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  padding-top: $spacer !important;
  padding-bottom: $spacer !important;
}